﻿@model LibraryService.Models.SearchModel

@using (Html.BeginForm("SearchBooks", "Client", FormMethod.Post, new { id = "booksSearchForm", @class = "form-inline" }))
{
    @Html.EditorFor(x => x.Author)
    @Html.EditorFor(x => x.Publisher)
    <div class="form-group">
        @Html.LabelFor(x => x.Genre, Html.DisplayNameFor(x => x.Genre))
        @Html.EnumDropDownListFor(x => x.Genre, "Любой", new { @class = "form-control" })
    </div>
    <button class="btn btn-default" type="button" onclick="CustomApi.client.search($(this), $('#booksSearchForm'), $('#search'))">Найти</button>
}