﻿
@{
    ViewBag.Title = "Личный кабинет";
}

<ul class="nav nav-tabs" role="tablist" id="bookTabs">
    <li role="presentation" class="active">
        <a href="#reversed" role="tab" aria-controls="reversed" data-toggle="tab">
            Забронированные
        </a>
    </li>
    <li role="presentation">
        <a href="#taked" role="tab" aria-controls="taked" data-toggle="tab">Забранные</a>
    </li>
    <li role="presentation">
        <a href="#search" role="tab" aria-controls="search" data-toggle="tab">Поиск</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="reversed">
        <table class="table">
            <thead>
                <tr>
                    <th>Имя книги</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="taked">
        <table class="table">
            <thead>
                <tr>
                    <th>Имя книги</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="search">
        @Html.Partial("_BooksSearch", new LibraryService.Models.SearchModel())
        <table class="table">
            <thead>
                <tr>
                    <th>Имя книги</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script id="bookRowTmpl" type="text/x-jsrender">
    <tr>
        <td>{{:Name}}</td>
        <td>{{:Author}}</td>
        <td>{{:Publisher}}</td>
        <td>{{:GenreStr}}</td>
    </tr>
</script>
<script id="searchRowTmpl" type="text/x-jsrender">
    <tr>
        <td>{{:Name}}</td>
        <td>{{:Author}}</td>
        <td>{{:Publisher}}</td>
        <td>{{:GenreStr}}</td>
        <td>
            {{if ReverseEndDate == null && !Taked}}
            <button class="btn btn-primary" onclick="CustomApi.client.reverseBook($(this), '{{:Id}}')">Забронировать</button>
            {{else}}
            <button class="btn btn-primary" disabled onclick="CustomApi.client.reverseBook($(this), '{{:Id}}')">Забронировать</button>
            {{/if}}
        </td>
    </tr>
</script>
@section scripts{
    <script>
        $(function () {
            CustomApi.client.takedBooks($('#taked'));
            CustomApi.client.reversedBooks($('#reversed'));
        });
    </script>    
    }