﻿@{ 
    ViewBag.Title = "Личный кабинет";
}
<div class="form-group">
    <button class="btn btn-default" onclick="$('#bookAddModal').modal('show')">Добавить книгу</button>
</div>
<ul class="nav nav-tabs" role="tablist" id="bookTabs">
    <li role="presentation" class="active">
        <a href="#reversed" role="tab" aria-controls="reversed" data-toggle="tab">
            Забронированные
        </a>
    </li>
    <li role="presentation">
        <a href="#taked" role="tab" aria-controls="taked" data-toggle="tab">Выданные</a>
    </li>
    <li role="presentation">
        <a href="#all" role="tab" aria-controls="all" data-toggle="tab" onclick="CustomApi.librarian.getAll($('#all'))">
            Все
        </a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="reversed">
        <form class="form-inline">
            <input type="email" id="reversedEmail" class="form-control" placeholder="E-mail клиента" />
            <button type="button" class="btn btn-default" onclick="CustomApi.librarian.reversedBooks($('#reversed'), $('#reversedEmail').val())">Найти</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                    <th>Клиент</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody><tr><td>Поиск забронированных книг по e-mail клиента</td></tr></tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="taked">
        <form class="form-inline">
            <input type="email" id="takedEmail" class="form-control" placeholder="E-mail клиента"/>
            <button type="button" class="btn btn-default" onclick="CustomApi.librarian.takedBooks($('#taked'), $('#takedEmail').val())">Найти</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                    <th>Клиент</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody><tr><td>Поиск выданных книг по e-mail клиента</td></tr></tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="all">
        <form class="form-inline">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Жанр</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="bookAddModal" tabindex="-1" role="dialog" aria-labelledby="bookAddModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bookAddModalLabel">Добавить книгу</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddBook", new LibraryService.Models.BookModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="CustomApi.librarian.addBook($('#addBookForm'), $(this), $('#addBookMsg'))">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>
<script id="defBookRowTmpl" type="text/x-jsrender">
    <tr>
        <td>{{:Name}}</td>
        <td>{{:Author}}</td>
        <td>{{:Publisher}}</td>
        <td>{{:GenreStr}}</td>
        <td><button class="btn btn-danger" onclick="CustomApi.librarian.removeBook($(this), '{{:Id}}')">Удалить</button></td>
    </tr>
</script>
<script id="bookRowTmpl" type="text/x-jsrender">
    <tr>
        <td>{{:Name}}</td>
        <td>{{:Author}}</td>
        <td>{{:Publisher}}</td>
        <td>{{:GenreStr}}</td>
        <td>{{:Client.FirstName}} {{:Client.LastName}}</td>
        <td>
            {{if !Taked}}
            <button class="btn btn-primary" onclick="CustomApi.librarian.getBook($(this), '{{:Id}}')">Выдать</button>
            {{else}}
            <button class="btn btn-primary" onclick="CustomApi.librarian.takeBook($(this), '{{:Id}}')">Вернуть</button>
            {{/if}}
        </td>
    </tr>
</script>