﻿@model LibraryService.Models.LoginModel

@{ 
    ViewBag.Title = "Вход";
}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary panel-login">
            <div class="panel-heading">
                <h3 class="panel-title">Вход</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post, new { id = "loginForm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.Remember) @Html.DisplayNameFor(x => x.Remember)
                        </label>
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                    @Html.ValidationSummary()
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            Utilities.initValidation();
        });
    </script>    
}