﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site")
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-nav-collapse" aria-expanded="false">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LibraryService", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="main-nav-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домой", "Index", "Home")</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                    {
                        <button type="submit" class="btn btn-danger">Выйти</button>
                            @Html.AntiForgeryToken()
                    }
                }
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                    } 
                    else
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Личный кабинет", "Index", "Admin")</li>
                        }
                        else if(User.IsInRole(LibraryService.Constants.UserRoles.Librarian))
                        {
                            <li>@Html.ActionLink("Личный кабинет", "Index", "Librarian")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Личный кабинет", "Index", "Client")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <article class="container">
        @RenderBody()
    </article>
    <footer></footer>
    @Scripts.Render("~/bundles/main", "~/bundles/validation", "~/bundles/custom")
    @RenderSection("scripts", false)
</body>
</html>