﻿@model LibraryService.Models.AdminChangePassModel

@using(Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { id = "adminChangePassForm" }))
{
    @Html.HiddenFor(x => x.Email)
    @Html.EditorFor(x => x.NewPassword)
    <div class="form-group">
        <button type="button" class="btn btn-success" onclick="CustomApi.admin.changePassword($(this), $('#adminChangePassMsg'), $('#adminChangePassForm'))">
            Изменить
        </button>
    </div>
    @Html.ValidationSummary("", new { id = "adminChangePassMsg" })
}