﻿@model IEnumerable<LibraryService.Models.UserModel>
@{
    ViewBag.Title = "Панель администратора";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Пользователи
        <a href="#" role="button" onclick="$('#userAddModal').modal('show')" style="float:right">Добавить пользователя</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>E-mail</th>
                <th>Роли</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                var roles = string.Join(", ", user.Roles.Select(role => role.Name));
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@roles</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-danger" onclick="CustomApi.admin.removeUser($(this), '@user.Email')">Удалить</button>
                            <button class="btn btn-default" 
                                    onclick="$('#adminChangePassForm input[name=Email]').val('@user.Email');$('#changePassModal').modal('show')">
                                Изменить пароль
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="userAddModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userAddModalLabel">Добавить пользователя</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("RegisterUser", new LibraryService.Models.RegisterModel())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changePassModalLabel">Изменить пароль пользователя</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_ChangeUserPass", new LibraryService.Models.AdminChangePassModel())
            </div>
        </div>
    </div>
</div>