﻿@model LibraryService.Models.RegisterModel

@using(Html.BeginForm("RegisterUser", "Admin", FormMethod.Post, new { id = "userAddForm" }))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(x => x.Email)
    @Html.EditorFor(x => x.Password)
    @Html.EditorFor(x => x.FirstName)
    @Html.EditorFor(x => x.LastName)
    <div class="form-group">
        @Html.LabelFor(x => x.UserType)
        @Html.EnumDropDownListFor(x => x.UserType, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="button" onclick="CustomApi.admin.registerUser($(this), $('#userAddMsg'), $('#userAddForm'), $('#search'))" 
                class="btn btn-success">Добавить</button>
    </div>
    @Html.ValidationSummary("", new { id = "userAddMsg" })
}
